$base-color: #000;
$link-base-color: #333;
$link-hover-color: #2980b9;

html {
	color: $base-color;
}

body {
}

a {
	color: $link-base-color;
	border-bottom: 1px solid $link-hover-color;
	text-decoration: none;
	&:visited {
		color: $link-base-color;
	}
	&:hover {
		color: $link-hover-color;
	}
}

.cell {
	display: table-cell;
	vertical-align: middle;
	float: none;
}

header#masthead {
	.cell {
		height: 140px;
	}
	a {
		border: none;
	}
	div.site-branding {
		h1.site-title {
			font-size: 36px;
			font-weight: bold;
			margin: 0;
			a {
				text-decoration: none;
				color: #789;
			}
		}
	}
	nav#site-navigation {
		div.menu {
			$nav-main-height: 40px;
			$nav-sub-height: 30px;
			ul.nav-menu {
				float: right;
				li {
					margin: 0;
					a {
						line-height: $nav-main-height;
						padding: 0 7px;
						color: #666;
						&:hover {
							color: #222;
						}
					}
				}
				> li.page_item_has_children {
							> a:after {
								font-family: FontAwesome;
								font-weight: normal;
								font-style: normal;
								display: inline-block;
								text-decoration: inherit;
								content: "\f0d7";
								float: right;
								margin-left: 10px;
							}
						}
				ul.children {
					top: $nav-main-height;
					border: 1px solid #ccc;
					box-shadow: none;
					li {
						border-bottom: 1px dashed #ccc;
						a {
							line-height: $nav-sub-height;
						}
						&.page_item_has_children {
							> a:after {
								font-family: FontAwesome;
								font-weight: normal;
								font-style: normal;
								display: inline-block;
								text-decoration: inherit;
								content: "\f0da";
								float: right;
							}
						}
					}
					li:last-child {
						border-bottom: none;
					}
					ul.children {
						top: -1px;
					}
				}
			}
		}
	}
}

main#main {
	article.post,
	article.page {
		header.entry-header {
			h1.entry-title {
				a {
					color: $base-color;
					border: none;
					&:hover {
						color: $link-hover-color;
					}
				}
			}
		}
		footer.entry-footer {
			margin-top: 20px;
			clear: both;
			a {
				border: none;
			}
		}
	}
	.hentry {
		margin: 0 0 80px;
	}
}