html {
  color: black; }

a {
  color: #333333;
  border-bottom: 1px solid #2980b9;
  text-decoration: none; }
  a:visited {
    color: #333333; }
  a:hover {
    color: #2980b9; }

pre {
  border: 1px solid #aaa;
  border-radius: 5px;
  padding: 15px; }

.cell {
  display: table-cell;
  vertical-align: middle;
  float: none; }

.alignleft {
  margin-right: 15px; }

.alignright {
  margin-left: 15px; }

header#masthead .cell {
  height: 140px; }
header#masthead a {
  border: none; }
header#masthead div.site-branding h1.site-title {
  font-size: 36px;
  font-weight: bold;
  margin: 0; }
  header#masthead div.site-branding h1.site-title a {
    text-decoration: none;
    color: #69a6ce; }
    header#masthead div.site-branding h1.site-title a:hover {
      color: #2980b9; }
header#masthead nav#site-navigation div.menu ul.nav-menu {
  float: right; }
  header#masthead nav#site-navigation div.menu ul.nav-menu li {
    margin: 0; }
    header#masthead nav#site-navigation div.menu ul.nav-menu li a {
      line-height: 40px;
      padding: 0 7px;
      color: #666; }
      header#masthead nav#site-navigation div.menu ul.nav-menu li a:hover {
        color: #222; }
  header#masthead nav#site-navigation div.menu ul.nav-menu > li.page_item_has_children > a:after {
    font-family: FontAwesome;
    font-weight: normal;
    font-style: normal;
    display: inline-block;
    text-decoration: inherit;
    content: "\f0d7";
    float: right;
    margin-left: 10px; }
  header#masthead nav#site-navigation div.menu ul.nav-menu ul.children {
    top: 40px;
    border: 1px solid #ccc;
    box-shadow: none; }
    header#masthead nav#site-navigation div.menu ul.nav-menu ul.children li {
      border-bottom: 1px dashed #ccc; }
      header#masthead nav#site-navigation div.menu ul.nav-menu ul.children li a {
        line-height: 30px; }
      header#masthead nav#site-navigation div.menu ul.nav-menu ul.children li.page_item_has_children > a:after {
        font-family: FontAwesome;
        font-weight: normal;
        font-style: normal;
        display: inline-block;
        text-decoration: inherit;
        content: "\f0da";
        float: right; }
    header#masthead nav#site-navigation div.menu ul.nav-menu ul.children li:last-child {
      border-bottom: none; }
    header#masthead nav#site-navigation div.menu ul.nav-menu ul.children ul.children {
      top: -1px; }

main#main article.post header.entry-header h1.entry-title a,
main#main article.page header.entry-header h1.entry-title a {
  color: black;
  border: none; }
  main#main article.post header.entry-header h1.entry-title a:hover,
  main#main article.page header.entry-header h1.entry-title a:hover {
    color: #2980b9; }
main#main article.post header.entry-header div.entry-meta a,
main#main article.page header.entry-header div.entry-meta a {
  border: none; }
main#main article.post footer.entry-footer,
main#main article.page footer.entry-footer {
  margin-top: 20px;
  clear: both; }
  main#main article.post footer.entry-footer a,
  main#main article.page footer.entry-footer a {
    border: none; }
main#main .hentry {
  margin: 0 0 80px; }
main#main div.content-meta-container {
  width: 100%; }
main#main div.content-meta div.cat-links,
main#main div.content-meta div.tags-links,
main#main div.content-meta div.author {
  margin-bottom: 15px; }
  main#main div.content-meta div.cat-links h2,
  main#main div.content-meta div.tags-links h2,
  main#main div.content-meta div.author h2 {
    font-size: 12px;
    font-weight: bold;
    text-transform: uppercase;
    margin-bottom: 0; }
  main#main div.content-meta div.cat-links div,
  main#main div.content-meta div.tags-links div,
  main#main div.content-meta div.author div {
    font-size: 12px; }
    main#main div.content-meta div.cat-links div a,
    main#main div.content-meta div.tags-links div a,
    main#main div.content-meta div.author div a {
      border: 0; }
  main#main div.content-meta div.cat-links div.vcard,
  main#main div.content-meta div.tags-links div.vcard,
  main#main div.content-meta div.author div.vcard {
    margin-bottom: 15px; }
    main#main div.content-meta div.cat-links div.vcard img,
    main#main div.content-meta div.tags-links div.vcard img,
    main#main div.content-meta div.author div.vcard img {
      border-radius: 99px; }

div.comment-container {
  overflow-x: hidden;
  background: #eeeeee;
  padding: 20px 0; }

div#comments div#respond form#commentform > p label {
  display: block;
  text-transform: uppercase;
  color: #888;
  font-size: 11px;
  margin-bottom: 5px; }
div#comments div#respond form#commentform > p input, div#comments div#respond form#commentform > p textarea {
  border-radius: 0;
  background-color: #ddd;
  border: none;
  padding: 6px; }
  div#comments div#respond form#commentform > p input:focus, div#comments div#respond form#commentform > p textarea:focus {
    outline: none; }
div#comments div#respond form#commentform > p input#submit {
  background-color: #69a6ce;
  box-shadow: none;
  text-transform: uppercase;
  font-size: 12px;
  padding: 10px 30px;
  color: white;
  text-shadow: none; }
  div#comments div#respond form#commentform > p input#submit:hover {
    background-color: #2980b9;
    color: #eeeeee; }
div#comments ul.comment-list li.comment,
div#comments ul.comment-list li.trackback,
div#comments ul.comment-list li.pingback {
  list-style: none;
  margin: 30px 0; }
  div#comments ul.comment-list li.comment article.comment,
  div#comments ul.comment-list li.trackback article.comment,
  div#comments ul.comment-list li.pingback article.comment {
    overflow: hidden; }
    div#comments ul.comment-list li.comment article.comment div.vcard,
    div#comments ul.comment-list li.trackback article.comment div.vcard,
    div#comments ul.comment-list li.pingback article.comment div.vcard {
      clear: both;
      float: left;
      padding-top: 20px;
      display: inline-block; }
      div#comments ul.comment-list li.comment article.comment div.vcard img,
      div#comments ul.comment-list li.trackback article.comment div.vcard img,
      div#comments ul.comment-list li.pingback article.comment div.vcard img {
        border-radius: 22px; }
    div#comments ul.comment-list li.comment article.comment main.comment,
    div#comments ul.comment-list li.trackback article.comment main.comment,
    div#comments ul.comment-list li.pingback article.comment main.comment {
      margin-left: 70px;
      padding: 20px;
      background-color: #ddd;
      position: relative; }
      div#comments ul.comment-list li.comment article.comment main.comment:after,
      div#comments ul.comment-list li.trackback article.comment main.comment:after,
      div#comments ul.comment-list li.pingback article.comment main.comment:after {
        border-bottom: 20px solid transparent;
        border-right: 20px solid #ddd;
        border-top: 0 none;
        content: "";
        height: 0;
        left: -20px;
        position: absolute !important;
        top: 0;
        width: 0;
        z-index: 100; }
      div#comments ul.comment-list li.comment article.comment main.comment header,
      div#comments ul.comment-list li.trackback article.comment main.comment header,
      div#comments ul.comment-list li.pingback article.comment main.comment header {
        padding-bottom: 20px;
        border-bottom: 1px solid #ccc; }
        div#comments ul.comment-list li.comment article.comment main.comment header div.date,
        div#comments ul.comment-list li.trackback article.comment main.comment header div.date,
        div#comments ul.comment-list li.pingback article.comment main.comment header div.date {
          font-size: 10px;
          margin-right: 120px; }
          div#comments ul.comment-list li.comment article.comment main.comment header div.date a,
          div#comments ul.comment-list li.trackback article.comment main.comment header div.date a,
          div#comments ul.comment-list li.pingback article.comment main.comment header div.date a {
            color: #333;
            border: 0; }
        div#comments ul.comment-list li.comment article.comment main.comment header div.author,
        div#comments ul.comment-list li.trackback article.comment main.comment header div.author,
        div#comments ul.comment-list li.pingback article.comment main.comment header div.author {
          margin-right: 120px;
          font-size: 16px;
          font-weight: bold; }
          div#comments ul.comment-list li.comment article.comment main.comment header div.author a,
          div#comments ul.comment-list li.trackback article.comment main.comment header div.author a,
          div#comments ul.comment-list li.pingback article.comment main.comment header div.author a {
            border: 0; }
        div#comments ul.comment-list li.comment article.comment main.comment header div.reply,
        div#comments ul.comment-list li.trackback article.comment main.comment header div.reply,
        div#comments ul.comment-list li.pingback article.comment main.comment header div.reply {
          float: right;
          font-size: 10px;
          display: inline-block; }
          div#comments ul.comment-list li.comment article.comment main.comment header div.reply a,
          div#comments ul.comment-list li.trackback article.comment main.comment header div.reply a,
          div#comments ul.comment-list li.pingback article.comment main.comment header div.reply a {
            border: none; }
      div#comments ul.comment-list li.comment article.comment main.comment section.comment,
      div#comments ul.comment-list li.trackback article.comment main.comment section.comment,
      div#comments ul.comment-list li.pingback article.comment main.comment section.comment {
        margin-top: 20px; }

div.sidebar-container {
  overflow-x: hidden;
  background: #444444;
  padding: 20px 0;
  color: #ddd; }

div.footer-container {
  overflow-x: hidden;
  background: #222222;
  padding: 20px 0;
  color: #ddd; }
  div.footer-container .container_12 .grid_8 {
    margin: 0; }
    div.footer-container .container_12 .grid_8 .grid_4 {
      width: 290px; }
  div.footer-container a {
    color: #ddd; }
    div.footer-container a:hover {
      color: #2980b9; }
  div.footer-container h1, div.footer-container h2 {
    font-size: 14px;
    text-transform: uppercase;
    font-weight: bold; }
  div.footer-container table#wp-calendar caption {
    font-size: 14px;
    text-transform: uppercase;
    font-weight: bold;
    margin-bottom: 15px; }
  div.footer-container table#wp-calendar thead th {
    font-weight: bold; }
  div.footer-container table#wp-calendar tfoot td {
    padding-top: 10px; }
  div.footer-container footer#colophon img {
    margin-bottom: 10px; }
  div.footer-container li {
    margin-left: 20px; }
