$base-color: #000;
$link-base-color: #333;
$link-hover-color: #2980b9;

$button-color: #ffffff;
$button-color-hover: #eee;
$button-bg-color: #69a6ce;
$button-bg-color-hover: #2980b9;

html {
	color: $base-color;
}

body {
}

a {
	color: $link-base-color;
	border-bottom: 1px solid $link-hover-color;
	text-decoration: none;
	&:visited {
		color: $link-base-color;
	}
	&:hover {
		color: $link-hover-color;
	}
}

pre {
	border: 1px solid #aaa;
	border-radius: 5px;
	padding: 15px;
}

.cell {
	display: table-cell;
	vertical-align: middle;
	float: none;
}

.alignleft {
	margin-right: 15px;
}
.alignright {
	margin-left: 15px;
}


header#masthead {
	.cell {
		height: 140px;
	}
	a {
		border: none;
	}
	div.site-branding {
		h1.site-title {
			font-size: 36px;
			font-weight: bold;
			margin: 0;
			a {
				text-decoration: none;
				color: $button-bg-color;
				&:hover {
					color: $button-bg-color-hover;
				}

			}
		}
	}
	nav#site-navigation {
		div.menu {
			$nav-main-height: 40px;
			$nav-sub-height: 30px;
			ul.nav-menu {
				float: right;
				li {
					margin: 0;
					a {
						line-height: $nav-main-height;
						padding: 0 7px;
						color: #666;
						&:hover {
							color: #222;
						}
					}
				}
				> li.page_item_has_children {
							> a:after {
								font-family: FontAwesome;
								font-weight: normal;
								font-style: normal;
								display: inline-block;
								text-decoration: inherit;
								content: "\f0d7";
								float: right;
								margin-left: 10px;
							}
						}
				ul.children {
					top: $nav-main-height;
					border: 1px solid #ccc;
					box-shadow: none;
					li {
						border-bottom: 1px dashed #ccc;
						a {
							line-height: $nav-sub-height;
						}
						&.page_item_has_children {
							> a:after {
								font-family: FontAwesome;
								font-weight: normal;
								font-style: normal;
								display: inline-block;
								text-decoration: inherit;
								content: "\f0da";
								float: right;
							}
						}
					}
					li:last-child {
						border-bottom: none;
					}
					ul.children {
						top: -1px;
					}
				}
			}
		}
	}
}

main#main {
	article.post,
	article.page {
		header.entry-header {
			h1.entry-title {
				a {
					color: $base-color;
					border: none;
					&:hover {
						color: $link-hover-color;
					}
				}
			}
			div.entry-meta {
				a {
					border: none;
				}
			}
		}
		footer.entry-footer {
			margin-top: 20px;
			clear: both;
			a {
				border: none;
			}
		}
	}
	.hentry {
		margin: 0 0 80px;
	}
	div.content-meta-container {
		width: 100%;
	}
	div.content-meta {
		div.cat-links,
		div.tags-links,
		div.author {
			h2 {
				font-size: 12px;
				font-weight: bold;
				text-transform: uppercase;
				margin-bottom: 0;
			}
			div {
				font-size: 12px;
				a {
					border: 0;
				}
			}
			div.vcard {
				margin-bottom: 15px;
				img {
					border-radius: 99px;
				}
			}
			margin-bottom: 15px;
		}
	}
}

div.comment-container {
	overflow-x: hidden;
	$comments-bg: #eee;
	background: $comments-bg;
	padding: 20px 0;
}

div#comments {
	h2.comments-title {

	}
	div#respond {
		form#commentform {
			> p {
				label {
					display: block;
					text-transform: uppercase;
					color: #888;
					font-size: 11px;
					margin-bottom: 5px;
				}
				input, textarea {
					border-radius: 0;
					background-color: #ddd;
					border: none;
					padding: 6px;
					&:focus {
						outline: none;
					}
				}
				input#submit {
					background-color: $button-bg-color;
					box-shadow: none;
					text-transform: uppercase;
					font-size: 12px;
					padding: 10px 30px;
					color: $button-color;
					text-shadow: none;
					&:hover {
						background-color: $button-bg-color-hover;
						color: $button-color-hover;
					}
				}
			}
		}
	}
	ul.comment-list {
		li.comment,
		li.trackback,
		li.pingback {
			list-style: none;
			margin: 30px 0;
			article.comment {
				overflow: hidden;
				div.vcard {
					clear: both;
					float: left;
					padding-top: 20px;
					img {
						border-radius: 22px;
					}
					display: inline-block;
				}
				main.comment {
					margin-left: 70px;
					padding: 20px;
					background-color: #ddd;
					position: relative;
					&:after {
						border-bottom: 20px solid transparent;
					    border-right: 20px solid #ddd;
					    border-top: 0 none;
					    content: "";
					    height: 0;
					    left: -20px;
					    position: absolute !important;
					    top: 0;
					    width: 0;
					    z-index: 100;
					}
					header {
						padding-bottom: 20px;
						border-bottom: 1px solid #ccc;
						div.date {
							font-size: 10px;
							margin-right: 120px;
							a {
								color: #333;
								border: 0;
							}
						}
						div.author {
							margin-right: 120px;
							font-size: 16px;
							font-weight: bold;
							a {
								border: 0;
							}
						}
						div.reply {
							float: right;
							font-size: 10px;
							display: inline-block;
							a {
								border: none;
							}
						}
					}
					section.comment {
						margin-top: 20px;
					}
				}
			}
		}
	}
}

div.sidebar-container {
	overflow-x: hidden;
	$sidebar-bg: #444;
	background: $sidebar-bg;
	padding: 20px 0;
	color: #ddd;
}

div.footer-container {
	overflow-x: hidden;
	$footer-bg: #222;
	background: $footer-bg;
	padding: 20px 0;
	color: #ddd;
	.container_12 {
		.grid_8 {
			margin: 0;
			.grid_4 {
				width: 290px;
			}
		}
	}
	a {
		color: #ddd;
		&:hover {
			color: $link-hover-color;
		}
	}
	h1, h2 {
		font-size: 14px;
		text-transform: uppercase;
		font-weight: bold;
	}
	table#wp-calendar {
		caption {
			font-size: 14px;
			text-transform: uppercase;
			font-weight: bold;
			margin-bottom: 15px;
		}
		thead {
			th {
				font-weight: bold;
			}
		}
		tfoot {
			td {
				padding-top: 10px;
			}
		}
	}
	footer#colophon {
		img {
			margin-bottom: 10px;
		}
	}
}